.aboutdata{
    margin-top: 50px;
}
.Allpattal{
    width: 90%;
    height: 300px;
    margin: 2px 5% 0px 5%;
    
   
}
.pattal{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.h1{
    text-align: center;
    font-style: italic;
}
.hh1{
    text-align: center;
}
.paper-row{
    width: 90%;
    height: 200px;
    margin: 2px 5% 0px 5%;
    display: flex;
    overflow: hidden;
    scrollbar-width: none;
    margin-top: 10px;
    
}
.pat1{
    width: 50%;
    display: flex;
    /* background-color: blanchedalmond; */
}
.pat2{
    width: 44%;
    background-color: yellow;
    padding:5px 2px 2px 5%;
    overflow: scroll;
    scrollbar-width: none;
}
.img1{
    width: 100%;
    height: 100%;
  
    border-radius: 10px;
    overflow:scroll;
    
}
.h2{
    margin-top: 20px;

}
.order{
    width:50%;
    height: 50px;
    margin-bottom: 50px;
    &:hover{
        
        box-shadow:1px 0px 17px 5px rgb(157, 147, 134) ;
        
    }
}