.contect{
    margin-top: 60px;
}
.detail{
    width: 90%;
    margin: 10px 5% 0px 5%;
    background-color: burlywood;
}
.form{
    border:5px double rgb(220, 207, 207);
    width: 80%;
    height: 500px;
    margin: 10px 10% 0px 10%;
    
  
}
.form1{
    width: 90%;
    padding: 5px;
    height: 450px;
    margin: 20px 5% 20px 5%;
    /* background-color: aquamarine; */
    
}
.text{
    font-size: 25px;
  font-weight: bold;
    width: 100%;
}

.input3{
    width:40%;
    height: 25px;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid rgb(107, 85, 85);
}
.input4{
    width: 50%;
     border-bottom: 2px solid rgb(107, 85, 85);
}
.button{
    width: 40%;
    font-size: 25px;
    height:40px;
    margin-left: 20px;
}
.atun{
    width: 100%;
  
   
}
.imgarun{
    width: 100%;
    height: 100%;

    
}